@use 'colors.scss' as *;

main {
    section.jumbo {
        background-image: url('/resources/img/jumbotron.jpg');
        height: 25rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

    section.comics {
        background-color: rgb(28, 28, 28);

        div.container {
            max-width: 75rem;

            .shift {
                transform: translate(0%, -50%);
            }

            .primary-button {
                width: 185px;
                height: 35px;
                background-color: $primary-color;

                &:hover {
                    background-color: white;
                    color: $primary-color !important;
                    cursor: pointer;
                }
            }

            div.comics-list {}
        }
    }

    section.features {
        background-color: $primary-color;

        div.feature {
            img {
                width: 2.8125rem;
            }
        }
    }
}

// main {

//     section.comics-list {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         padding: 10px;
//         position: relative;

//         div {
//             display: flex;
//             flex-wrap: wrap;
//             justify-content: center;
//         }
//     }
//     div.comics-item {
//         color: white;
//         cursor: pointer;
//         align-self: top;
//         padding: 20px;
//         flex-direction: column;
//         height: 100%;

//         &:hover {
//             color: $primary-color;
//         }

//         h5 {
//             color: inherit;
//             width: 11.25rem;
//             font-size: 1.125rem;
//         }

//         img {
//             width: 11.25rem;
//             height: 11.25rem;
//             object-fit: cover;
//             padding: 0;

//             &:hover {
//                 filter: grayscale(0.5);
//             }
//         }
//     }
// }