@use 'colors.scss' as *;

footer {
    // Top footer section
    section.footer-top {
        background-image: url('/resources/img/footer-bg.jpg');

        div.container {
            max-width: 75rem;

            .footer-bg-logo {
                width: 400px;
                right: 0;
                top: 0px;
        }
        }
    }

    // Bottom footer section
    section.footer-low {
        background-color: #303030;

        div.container {
            max-width: 75rem;

            .signup-btn {
                border: .1875rem solid $primary-color;
    
                &:hover {
                    background-color: $primary-color;
                    border: .1875rem solid white;
                }
            }

            div.social {

                h4 {
                    color: $primary-color;
                    cursor: pointer;
                }
                
                li {
                    cursor: pointer;
        
                    &:hover {
                        scale: 1.2;
                    }
                }
            }
        }
    }

    // ul inside footer
    ul {
        li {
            a {
                &:hover {
                    color: white !important;
                }
            }
        }
    }
}