@use 'colors.scss' as *;

// Header
header {
    max-width: 75rem;

    img.main-logo {
        width: 5rem;
    }

    nav {
        a {
            color: #464648;
    
            &:hover {
                color: $primary-color;
                box-shadow: 0 .25rem 0 $primary-color;
            }
        }
    }
}

